.news-wrap
	.container
		.title.title--primary.title--blue
			h2 מכרז של האשכול
		.tender.tender__wrap
			.tender__left
				a(href="#")
					img.tender__img(src="img/files_2.svg" alt="")
				.tender__name שם המכרז
				.tender__date תוקף המכרז: 20.3.2018
				.tender__max סכום מקסימלי לניצול הרשות: 1,000,00&nbsp;שח
				.tender__total סה"כ יתרה לניצול: 430,000 שח
				.tender__slider
					span.tender__body
						span.tender__active(style="width:47%;")
						span.tender__percent(style="right:47%;") 57%
			.tender__right
				.tab
					.tab__nav
						a.tab__head.is-active(href="#") 1
						a.tab__head(href="#") 2
					.tab__wrap
						.tab__body.is-active
							.tab__flex
								.tab__left2
									.contact__table.contact__table-calc
										.contact__row
											.contact__col.contact__col--first שם המוצר
											.contact__col.contact__col--first מחיר יחידה
										.contact__row(style="height: 41px")
										.contact__row
											.contact__col שם המוצר 1
											.contact__col 50 שח
										.contact__row
											.contact__col שם המוצר 2 בשתי <br>שורות 
											.contact__col 150 שח
										.contact__row
											.contact__col שם המוצר 1
											.contact__col 200 ₪
								.tender__right2 טקסט חופשי של האשכול. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.
							.tab__bottom
								.tender__link(href="#")
									img.tender__pic(src="img/files_3.svg" alt="")
									span.tender__span הורד הסכם ונספחים לחתימה
								.tender__bottom
									a.btn.btn--secondary העלה קבצים חתומים
									a.btn.btn--primary המשך
						.tab__body
							.contact__table.contact__table-calc
								.contact__row
									.contact__col.contact__col--first שם המוצר
									.contact__col.contact__col--first מחיר יחידה
									.contact__col.contact__col--first כמות יחידות
									.contact__col.contact__col--first.contact__col--center סה״כ
								.contact__row(style="height: 41px")
								.contact__row
									.contact__col שם המוצר 1
									.contact__col 50 שח
									.contact__col.contact__col--vert
										input.contact__input(type="text" value="1")
									.contact__col.contact__col--last
								.contact__row
									.contact__col שם המוצר 2 בשתי <br>שורות 
									.contact__col 150 שח
									.contact__col.contact__col--vert 
										input.contact__input(type="text", value="2")
									.contact__col.contact__col--last
								.contact__row
									.contact__col שם המוצר 1
									.contact__col 200 ₪
									.contact__col.contact__col--vert
										input.contact__input(type="text", value="1")
									.contact__col.contact__col--last
							.tab__bottom2
								.tender__bottom2
									a.btn.btn--secondary העלה קבצים חתומים
									.tender__input 400 שח
								.tender__text הזמנתך חורגת ממסגרת ההסכם, יש ליצור קשר עם האשכול
							.tab__bottom3
								a.tender__link(href="#")
									img.tender__pic(src="img/files_4.svg", alt="")
									.tender__span הצג סיכום עסקה והפקת הצעת מחיר
								.tender__bottom3
									a.btn.btn--primary.is-modal בצע הזמנה מספק


