
<div class="news-wrap">
  <div class="container">
    <div class="title title--primary title--blue">
      <h2>התקשרויות מדף</h2>
    </div>
    <div class="tender tender__wrap">
      <div class="tender__left"><a href="#"><img class="tender__img" src="img/files_2.svg" alt=""/></a>
        <div class="tender__name">שם המכרז</div>
        <div class="tender__date">תוקף המכרז: 20.3.2018</div>
        <div class="tender__max">סכום מקסימלי לניצול הרשות: 1,000,00&nbsp;שח</div>
        <div class="tender__total">סה"כ יתרה לניצול: 430,000 שח</div>
        <div class="tender__slider"><span class="tender__body"><span class="tender__active" style="width:47%;"></span><span class="tender__percent" style="right:47%;">57%</span></span></div>
      </div>
      <div class="tender__right">
        <div class="tab">
          <div class="tab__nav"><a class="tab__head is-active" href="#">1</a><a class="tab__head" href="#">2</a></div>
          <div class="tab__wrap">
            <div class="tab__body is-active">
              <div class="tab__flex">
                <div class="tab__left2">
                  <div class="contact__table contact__table-calc">
                    <div class="contact__row">
                      <div class="contact__col contact__col--first">שם המוצר</div>
                      <div class="contact__col contact__col--first">מחיר יחידה</div>
                    </div>
                    <div class="contact__row" style="height: 41px"></div>
                    <div class="contact__row">
                      <div class="contact__col">שם המוצר 1</div>
                      <div class="contact__col">50 שח</div>
                    </div>
                    <div class="contact__row">
                      <div class="contact__col">שם המוצר 2 בשתי <br>שורות </div>
                      <div class="contact__col">150 שח</div>
                    </div>
                    <div class="contact__row">
                      <div class="contact__col">שם המוצר 1</div>
                      <div class="contact__col">200 ₪</div>
                    </div>
                  </div>
                </div>
                <div class="tender__right2">טקסט חופשי של האשכול. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.</div>
              </div>
              <div class="tab__bottom">
                <div class="tender__link" href="#"><img class="tender__pic" src="img/files_3.svg" alt=""/><span class="tender__span">הורד הסכם ונספחים לחתימה</span></div>
                <div class="tender__bottom"><a class="btn btn--secondary">העלה קבצים חתומים</a><a class="btn btn--primary">המשך</a></div>
              </div>
            </div>
            <div class="tab__body">
              <div class="contact__table contact__table-calc">
                <div class="contact__row">
                  <div class="contact__col contact__col--first">שם המוצר</div>
                  <div class="contact__col contact__col--first">מחיר יחידה</div>
                  <div class="contact__col contact__col--first">כמות יחידות</div>
                  <div class="contact__col contact__col--first contact__col--center">סה״כ</div>
                </div>
                <div class="contact__row" style="height: 41px"></div>
                <div class="contact__row">
                  <div class="contact__col">שם המוצר 1</div>
                  <div class="contact__col">50 שח</div>
                  <div class="contact__col contact__col--vert">
                    <input class="contact__input" type="text" value="1"/>
                  </div>
                  <div class="contact__col contact__col--last"></div>
                </div>
                <div class="contact__row">
                  <div class="contact__col">שם המוצר 2 בשתי <br>שורות </div>
                  <div class="contact__col">150 שח</div>
                  <div class="contact__col contact__col--vert"> 
                    <input class="contact__input" type="text" value="2"/>
                  </div>
                  <div class="contact__col contact__col--last"></div>
                </div>
                <div class="contact__row">
                  <div class="contact__col">שם המוצר 1</div>
                  <div class="contact__col">200 ₪</div>
                  <div class="contact__col contact__col--vert">
                    <input class="contact__input" type="text" value="1"/>
                  </div>
                  <div class="contact__col contact__col--last"></div>
                </div>
              </div>
              <div class="tab__bottom2">
                <div class="tender__bottom2"><a class="btn btn--secondary">העלה קבצים חתומים</a>
                  <div class="tender__input">400 שח</div>
                </div>
                <div class="tender__text">הזמנתך חורגת ממסגרת ההסכם, יש ליצור קשר עם האשכול</div>
              </div>
              <div class="tab__bottom3"><a class="tender__link" href="#"><img class="tender__pic" src="img/files_4.svg" alt=""/>
                  <div class="tender__span">הצג סיכום עסקה והפקת הצעת מחיר</div></a>
                <div class="tender__bottom3"><a class="btn btn--primary is-modal">בצע הזמנה מספק</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>