.category__files
	.container
		.title.title--primary.title--blue
			h2 קבצים להורדה
		.category__slider2
			- for(i=0; i<5; i++)
				div
					a(href="NULL")
						.category__pic
							img(src="img/files_1.svg", alt="")
						.category__text תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.
				div
					a(href="NULL")
						.category__pic
							img(src="img/files_2.svg", alt="")
						.category__text תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.