.main_about
	.container
		.title.title--blue.title--primary
			h2 יחידה לפיתוח סביבתי
		.text.text--primary.text--center
			p אנו רואים בשמירה על המרחבים הירוקים בהם אנו חיים משימה חשובה. מרחבים אלו מאפשרים את איכות החיים של התושבים, כמו גם פוטנציאל למשיכת תיירות לאזור. תחום איכות הסביבה הוא דוגמא קלאסית לסוג של בעיות שהגבול המוניציפאלי אינו מהווה עבורן מגבלה, כך לדוגמא, בעיית זיהום אוויר ברשות אחת מהווה בעיה לרשות שכנה. שותפות הרשויות באשכול מאפשר עבודה ברמה אזורית.<br>אשכול רשויות גליל מערבי מוביל מספר פרויקטים ביחידה לאיכות הסביבה, ביניהם: התייעלות אנרגטית והפחתת גזי חממה, ייעול מערך איסוף ופינוי הפסולת ויצירת פתרונות קצה לפסולת המיוצרת ברשויות.