.menu.menu__wrap
    .container
        ul.menu__ul
            li.menu__li
                a.menu__link(href="NULL") יחידה אסטרטגית
            li.menu__li
                a.menu__link(href="NULL") היחידה לפיתוח סביבתי
            li.menu__li
                a.menu__link(href="NULL") היחידה לפיתוח חברתי
            li.menu__li
                a.menu__link(href="NULL") היחידה לפיתוח כלכלי