
<div class="menu menu__wrap">
  <div class="container">
    <ul class="menu__ul">
      <li class="menu__li"><a class="menu__link" href="NULL">יחידה אסטרטגית</a></li>
      <li class="menu__li"><a class="menu__link" href="NULL">היחידה לפיתוח סביבתי</a></li>
      <li class="menu__li"><a class="menu__link" href="NULL">היחידה לפיתוח חברתי</a></li>
      <li class="menu__li"><a class="menu__link" href="NULL">היחידה לפיתוח כלכלי</a></li>
    </ul>
  </div>
</div>