
<div class="commitments__wrap">
  <div class="container">
    <div class="title title--primary title--blue">
      <h2>התקשרויות מדף</h2>
    </div>
  </div>
  <div class="commitments">
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--open">פתוח</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--closed">סגור</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--open">פתוח</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--open">פתוח</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--closed">סגור</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
    <div class="commitment">
      <div class="commitment__image"><img src="img/commitments.jpg" alt="commitment"/></div>
      <div class="commitment__body">
        <div class="commitment__text">
          <p><strong>שם המכרז</strong></p>
          <p>תוקף המכרז: 20.3.2018</p>
          <p>טווח מחירים / מחיר</p>
          <p><strong>סך הניצול עד כה: </strong></p>
        </div>
        <div class="commitment__btn"><a class="btn btn--small btn--small btn--open">פתוח</a>
        </div>
      </div>
      <div class="commitment__slider">
        <div class="slider-ui"></div>
      </div>
    </div>
  </div>
</div>