.commitments__wrap
	.container
		.title.title--primary.title--blue
			h2 התקשרויות מדף
		.commitments
			-var val = ['05', '40', '25', '63', '50', '100'];
			-for(var i=0; i<6; i++){
				.commitment
					.commitment__image.js-img
						img(src="img/commitments.jpg" alt="commitment")
					.commitment__body
						.commitment__text
							p
								strong שם המכרז
							p תוקף המכרז: 20.3.2018
							p טווח מחירים / מחיר
							p
								strong סך הניצול עד כה: 
						.commitment__btn
							-if(i==1 || i==4)
								a(href=NULL).btn.btn--small.btn--small.btn--closed סגור
							
							-if(i!==1 && i!==4)
								a(href=NULL).btn.btn--small.btn--small.btn--open פתוח
							
					.commitment__slider(data-val=""+val[i])
						.commitment__slider-body
							.commitment__slider-val
								span= val[i]
			-}
.commitments__wrap.wrap--dark
	.container
		.title.title--primary.title--blue
			h2 התקשרויות מדף
		.commitments
			-var val = ['05', '40', '25', '63', '50', '100'];
			-for(var i=0; i<6; i++){
				.commitment
					.commitment__image.js-img
						img(src="img/commitments.jpg" alt="commitment")
					.commitment__body
						.commitment__text
							p
								strong שם המכרז
							p תוקף המכרז: 20.3.2018
							p טווח מחירים / מחיר
							p
								strong סך הניצול עד כה: 
						.commitment__btn
							-if(i==1 || i==4)
								a(href=NULL).btn.btn--small.btn--small.btn--closed סגור
							
							-if(i!==1 && i!==4)
								a(href=NULL).btn.btn--small.btn--small.btn--open פתוח
							
					.commitment__slider(data-val=""+val[i])
						.commitment__slider-body
							.commitment__slider-val
								span= val[i]
			-}