.main_about
	.container
		.title.title--blue.title--primary
			h2 צור קשר
		.text.text--primary.text--center
			p.contact__address כתובת: מבנה עיריית מעלות-תרשיחא, בן גוריון 1, מעלות-תרשיחא.
				br
				| טלפון: 
				a(href="tel:049576207") 04-9576207 
				| | פקס: 
				a(href="tel:049119124") 04-9119124 
				| | דוא"ל: 
				a(href="mailto:Eshkol@wegalil.org.il") Eshkol@wegalil.org.il