.contact__form
    .form__container
        .title.title--blue.title--primary
            h2 צור קשר
        form.form.form__contact(action="#", method="post")
            p.form__p אנא מלא את פרטייך האישיים
            .form__field
                label.form__label(for="name") שם מלא
                input.form__input(type="text", name="name", id="name")
            .form__field
                label.form__label(for="phone") טלפון סלולרי
                input.form__input(type="text", name="phone", id="phone")
            .form__field
                label.form__label(for="email") כתובת דוא״ל
                input.form__input(type="text", name="email", id="email")
            .form__field
                label.form__label(for="message") תוכן ההודעה
                textarea.form__input(name="message", id="message")
            .form__field.form__field--submit.form__field--submit2
                input.btn.btn--primary.form--submit( type="submit", value="שלח/י")
