
<div class="contact__officials">
  <div class="container">
    <div class="title title--blue title--primary">
      <h2>בעלי תפקידים</h2>
    </div>
    <div class="contact__wrap">
      <div class="contact__table">
        <div class="contact__row">
          <div class="contact__col contact__col--first">שם פרטי</div>
          <div class="contact__col contact__col--first">תפקיד</div>
          <div class="contact__col contact__col--first">נייד</div>
          <div class="contact__col contact__col--first">דוא״ל</div>
        </div>
        <div class="contact__row" style="height: 41px"></div>
        <div class="contact__row">
          <div class="contact__col">יעל רון </div>
          <div class="contact__col">מנכ"לית</div>
          <div class="contact__col">0524675444</div>
          <div class="contact__col">yael@wegalil.org.il</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">טל כהן </div>
          <div class="contact__col">מנהל פרויקטים</div>
          <div class="contact__col">0545491895</div>
          <div class="contact__col">tal@wegalil.org.il</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">אלה שפר-רוזן </div>
          <div class="contact__col">מנהלת היחידה לפיתוח חברתי</div>
          <div class="contact__col">0524566936</div>
          <div class="contact__col">ella@wegalil.org.il</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">וופא טאפש </div>
          <div class="contact__col">עוזרת מנכ"לית</div>
          <div class="contact__col">0506207411</div>
          <div class="contact__col">eshkol@wegalil.org.il</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">סימה עזרן </div>
          <div class="contact__col">מנהלת לשכה</div>
          <div class="contact__col">0526991041</div>
          <div class="contact__col">wafaa@wegalil.org.il</div>
        </div>
      </div>
    </div>
  </div>
</div>