
<footer class="footer">
  <div class="footer__top">
    <div class="footer__top--size">
      <div class="footer__form">
        <div class="title title--primary title--right title--white title--primary-bottom">
          <h2>הרשמו לניוזלטר שלנו</h2>
        </div>
        <form class="form form-signup">
          <div class="form__flex">
            <div class="form__field form__field--100">
              <input class="form__input" type="text" value=""/>
            </div>
            <div class="form__field form__field--submit">
              <input class="btn btn--primary" type="submit" value="הירשם/י"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container container__footer">
      <div class="footer__body">
        <div class="footer__col footer__col1">
          <div class="footer__logo"><a href="NULL"><img src="img/footer-logo.png" alt=""/></a></div>
        </div>
        <div class="footer__flex">
          <div class="footer__col footer__col2">
            <ul class="footer__nav">
              <li class="footer__li"> <a class="footer__link" href="NULL">עמוד הבית</a></li>
              <li class="footer__li"><a class="footer__link" href="NULL">אודות</a></li>
              <li class="footer__li"><a class="footer__link" href="NULL">חדשות ועדכונים</a></li>
            </ul>
          </div>
          <div class="footer__col footer__col3">
            <div class="footer__head">
              <H3>תחומי פעילות</H3>
            </div>
            <ul class="footer__nav">
              <li class="footer__li"> <a class="footer__link" href="NULL">יחידה אסטרטגית</a></li>
              <li class="footer__li"><a class="footer__link" href="NULL">היחידה לפיתוח סביבתי</a></li>
              <li class="footer__li"><a class="footer__link" href="NULL">היחידה לפיתוח חברתי</a></li>
              <li class="footer__li"><a class="footer__link" href="NULL">היחידה לפיתוח כלכלי</a></li>
            </ul>
          </div>
          <div class="footer__col footer__col4">
            <div class="footer__head">
              <H3>מכרזים</H3>
            </div>
            <ul class="footer__nav">
              <li class="footer__li"> <a class="footer__link" href="NULL">כח אדם</a></li>
              <li class="footer__li"><a class="footer__link" href="NULL">רכש ושירותים</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__col footer__col5">
          <div class="footer__head">
            <H3>צור קשר</H3>
          </div>
          <div class="footer__address">כתובת: מבנה עיריית מעלות-תרשי חא, בן גוריון 1, מעלות-תרשיחא.<br/>טלפון: <a href="tel:049576207">04-9576207</a><br/>פקס: <a href="tel:049119124">04-9119124</a><br/>דוא"ל: <a href="mailto:Eshkol@wegalil.org.il">Eshkol@wegalil.org.il</a></div>
        </div>
        <div class="footer__facebook"><a href="NULL"><img src="img/facebook.svg" alt=""/></a></div>
      </div>
      <div class="footer__copy"> <span>&copy; כל הזכויות שמורות לאשכול רשויות גליל מערבי.</span><span>עיצוב אתר: מיכל וגאלה. </span>תכנות: צונאמי</div>
    </div>
  </div>
</footer>
<div class="modal__bg"></div>
<div class="modal modal__wrap"><span class="modal__close"></span>
  <div class="modal__body">
    <div class="modal__text">טקסט חופשי תנאי השימוש. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. טקסט חופשי תנאי השימוש. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.</div>
    <div class="btn btn--primary">אני מסכים</div>
    <div class="modal__input">
      <div class="modal__radio">
        <input type="radio" name="radio_1" id="radio_1" checked="checked"/>
        <label class="modal__label" for="radio_1">לא מאשר</label>
      </div>
      <div class="modal__radio">
        <input type="radio" name="radio_1" id="radio_2"/>
        <label class="modal__label" for="radio_2">מאשר</label>
      </div>
    </div>
  </div>
</div>