footer.footer
	.footer__bottom
		.container.container__footer
			.footer__body
				.footer__col.footer__col1
					.footer__logo
						a(href='NULL')
							img(src="img/footer-logo.png" alt="")
				.footer__flex
					.footer__col.footer__col2.footer__col--admin
						.footer__head
							H3 צור קשר לתמיכה
						.footer__address  טלפון: 
							a(href="tel:049576207") 04-9576207
							br
							| פקס: 
							a(href="tel:049119124") 04-9119124
							br
							| דוא"ל: 
							a(href="mailto:Eshkol@wegalil.org.il") Eshkol@wegalil.org.il
					.footer__facebook.footer__facebook--admin
						a(href="NULL")
							img(src="img/facebook.svg" alt="")
			.footer__copy 
				span &copy; כל הזכויות שמורות לאשכול רשויות גליל מערבי.
				span עיצוב אתר: מיכל וגאלה. 
				| תכנות: צונאמי
include modal.jade
