footer.footer
    .footer__top
        .footer__top--size
            .footer__form
                .title.title--primary.title--right.title--white.title--primary-bottom
                    h2 הרשמו לניוזלטר שלנו
                form.form.form-signup
                    .form__flex
                        .form__field.form__field--100
                            input.form__input(type="text", value="") 
                        .form__field.form__field--submit
                            input.btn.btn--primary(type="submit" value="הירשם/י")
    .footer__bottom
        .container.container__footer
            .footer__body
                .footer__col.footer__col1
                    .footer__logo
                        a(href='NULL')
                            img(src="img/footer-logo.png" alt="")
                .footer__flex
                    .footer__col.footer__col2
                        ul.footer__nav
                            li.footer__li 
                                a.footer__link(href='NULL') עמוד הבית
                            li.footer__li
                                a.footer__link(href='NULL') אודות
                            li.footer__li
                                a.footer__link(href='NULL') חדשות ועדכונים
                    .footer__col.footer__col3
                        .footer__head
                            H3 תחומי פעילות
                        ul.footer__nav
                            li.footer__li 
                                a.footer__link(href='NULL') יחידה אסטרטגית
                            li.footer__li
                                a.footer__link(href='NULL') היחידה לפיתוח סביבתי
                            li.footer__li
                                a.footer__link(href='NULL') היחידה לפיתוח חברתי
                            li.footer__li
                                a.footer__link(href='NULL') היחידה לפיתוח כלכלי
                    .footer__col.footer__col4
                        .footer__head
                            H3 מכרזים
                        ul.footer__nav
                            li.footer__li 
                                a.footer__link(href='NULL') כח אדם
                            li.footer__li
                                a.footer__link(href='NULL') רכש ושירותים
                .footer__col.footer__col5
                    .footer__head
                        H3 צור קשר
                    .footer__address כתובת: מבנה עיריית מעלות-תרשי חא, בן גוריון 1, מעלות-תרשיחא.
                        br
                        | טלפון: 
                        a(href="tel:049576207") 04-9576207
                        br
                        | פקס: 
                        a(href="tel:049119124") 04-9119124
                        br
                        | דוא"ל: 
                        a(href="mailto:Eshkol@wegalil.org.il") Eshkol@wegalil.org.il
                .footer__facebook
                    a(href="NULL")
                        img(src="img/facebook.svg" alt="")
            .footer__copy 
                span &copy; כל הזכויות שמורות לאשכול רשויות גליל מערבי.
                span עיצוב אתר: מיכל וגאלה. 
                | תכנות: צונאמי
include modal.jade
