mixin head_img(page, img)
	//- page = home or inner
	div(class="header-image header-image--"+(page ? page : 'normal') style="background-image: url('./img/" +img+"')")
		img(src="img/header-img-bg.png" alt="bg").header-image-substrate