header
	.header-topline
		.header-topline-row
			a(href="javascript:void(0)").header-login.no_text_change כניסה לרשויות האשכול
			.header-fontsize-wrap
				a(href="javascript:void(0)").header-font-size.header-font-size--big.no_text_change.font_s#enlarge_text א 
				a(href="javascript:void(0)").header-font-size.header-font-size--norm.no_text_change.font_s#reset_text א 
				a(href="javascript:void(0)").header-font-size.header-font-size--lit.no_text_change.font_s#dec_text א 
	.header-menu
		a(href="/").header-logo
			img(src="img/fulllogo.svg")
		.header-nav
			span.tab-only
			ul
				li
					a(href="index.html").no_text_change עמוד ראשי
				li
					a(href="about.html").no_text_change מכרזים
				li
					a(href="michraz.html").no_text_change מצב חשבון
				li
					a(href="contact.html").no_text_change צור קשר
