header
	.header-topline
		.header-topline-row
			a(href="javascript:void(0)").header-login.no_text_change כניסה לרשויות האשכול
			.header-fontsize-wrap
				a(href="javascript:void(0)").header-font-size.header-font-size--big.no_text_change.font_s#enlarge_text א 
				a(href="javascript:void(0)").header-font-size.header-font-size--norm.no_text_change.font_s#reset_text א 
				a(href="javascript:void(0)").header-font-size.header-font-size--lit.no_text_change.font_s#dec_text א 
	.header-menu
		a(href="/").header-logo
			img(src="img/fulllogo.svg")
		.header-nav
			span.tab-only
			ul
				li
					a(href="index.html").no_text_change עמוד הבית
				li
					a(href="about.html").no_text_change אודות
				li
					a(href="category.html").no_text_change תחומי פעילות
				li
					a(href="michraz.html").no_text_change מכרזים
				li
					a(href="news.html").no_text_change חדשות ועדכונים
				li
					a(href="contact.html").no_text_change צור קשר

		form.form.form--search
			.search-input
				input(type="text" placeholder="הקלד לחיפוש באתר...")
		.header-functions
			a.header-search(href="javascript:void(0)")
				input(type="submit")
				svg
					use(xlink:href="#search")
			a.header-accecibility(href="javascript:void(0)")
				svg
					use(xlink:href="#accecibility")