
<header>
  <div class="header-topline">
    <div class="header-topline-row"><a class="header-login no_text_change" href="javascript:void(0)">כניסה לרשויות האשכול</a>
      <div class="header-fontsize-wrap"><a class="header-font-size header-font-size--big no_text_change font_s" href="javascript:void(0)" id="enlarge_text">א </a><a class="header-font-size header-font-size--norm no_text_change font_s" href="javascript:void(0)" id="reset_text">א </a><a class="header-font-size header-font-size--lit no_text_change font_s" href="javascript:void(0)" id="dec_text">א </a></div>
    </div>
  </div>
  <div class="header-menu"><a class="header-logo" href="/"><img src="img/fulllogo.svg"/></a>
    <div class="header-nav"><span class="tab-only"></span>
      <ul>
        <li><a class="no_text_change" href="index.html">עמוד הבית</a></li>
        <li><a class="no_text_change" href="about.html">אודות</a></li>
        <li><a class="no_text_change" href="category.html">תחומי פעילות</a></li>
        <li><a class="no_text_change" href="michraz.html">מכרזים</a></li>
        <li><a class="no_text_change" href="news.html">חדשות ועדכונים</a></li>
        <li><a class="no_text_change" href="contact.html">צור קשר</a></li>
      </ul>
    </div>
    <form class="form form--search">
      <div class="search-input">
        <input type="text" placeholder="הקלד לחיפוש באתר..."/>
      </div>
    </form>
    <div class="header-functions"><a class="header-search" href="javascript:void(0)">
        <input type="submit"/>
        <svg>
          <use xlink:href="#search"></use>
        </svg></a><a class="header-accecibility" href="javascript:void(0)">
        <svg>
          <use xlink:href="#accecibility"></use>
        </svg></a></div>
  </div>
</header>