
<header>
  <div class="header-topline">
    <div class="header-topline-row"><a class="header-login no_text_change" href="javascript:void(0)">כניסה לרשויות האשכול</a><a class="header-font-size no_text_change" href="javascript:void(0)">א <span>א </span><span>א </span></a></div>
  </div>
  <form class="search">
    <div class="header-menu"><a class="header-logo" href="/"><img src="img/fulllogo.svg"/></a>
      <div class="header-nav"><span class="tab-only"></span>
        <ul>
          <li><a class="no_text_change" href="javascript:void(0)">עמוד הבית</a></li>
          <li><a class="no_text_change" href="javascript:void(0)">אודות</a></li>
          <li><a class="no_text_change" href="javascript:void(0)">תחומי פעילות</a></li>
          <li><a class="no_text_change" href="javascript:void(0)">מכרזים</a></li>
          <li><a class="no_text_change" href="javascript:void(0)">חדשות ועדכונים </a></li>
          <li><a class="no_text_change" href="javascript:void(0)">צור קשר</a></li>
        </ul>
      </div>
      <div class="search-input">
        <input type="text" placeholder="הקלד לחיפוש באתר..."/>
      </div>
    </div>
    <div class="header-functions"><a class="header-search" href="javascript:void(0)">
        <input type="submit"/>
        <svg>
          <use xlink:href="#search"></use>
        </svg></a><a class="header-accecibility" href="javascript:void(0)">
        <svg>
          <use xlink:href="#accecibility"></use>
        </svg></a></div>
  </form>
</header>