
<div class="news-wrap">
  <div class="container">
    <div class="title title--primary title--blue">
      <h2>חדשות ועדכונים</h2>
    </div>
    <div class="news">
      <div class="news-row">
        <div class="news-image"><img src="img/img-0.jpg" alt="image"/></div>
        <div class="news-description">
          <div class="news-description-head">
            <div class="news-description-head-data">11/6/18 12:30</div><a class="news-description-head-title">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קוואזי במר מודוף. </a>
          </div>
          <div class="news-description-body">
            <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי. <br> דימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי....</p>
          </div>
        </div>
      </div>
      <div class="news-row">
        <div class="news-image"><img src="img/img-0.jpg" alt="image"/></div>
        <div class="news-description">
          <div class="news-description-head">
            <div class="news-description-head-data">11/6/18 12:30</div><a class="news-description-head-title">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קוואזי במר מודוף. </a>
          </div>
          <div class="news-description-body">
            <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי. <br> דימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי....</p>
          </div>
        </div>
      </div>
      <div class="news-row">
        <div class="news-image"><img src="img/img-0.jpg" alt="image"/></div>
        <div class="news-description">
          <div class="news-description-head">
            <div class="news-description-head-data">11/6/18 12:30</div><a class="news-description-head-title">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קוואזי במר מודוף. </a>
          </div>
          <div class="news-description-body">
            <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי. <br> דימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי....</p>
          </div>
        </div>
      </div>
      <div class="news-row">
        <div class="news-image"><img src="img/img-0.jpg" alt="image"/></div>
        <div class="news-description">
          <div class="news-description-head">
            <div class="news-description-head-data">11/6/18 12:30</div><a class="news-description-head-title">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קוואזי במר מודוף. </a>
          </div>
          <div class="news-description-body">
            <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי. <br> דימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי....</p>
          </div>
        </div>
      </div>
      <div class="news-row">
        <div class="news-image"><img src="img/img-0.jpg" alt="image"/></div>
        <div class="news-description">
          <div class="news-description-head">
            <div class="news-description-head-data">11/6/18 12:30</div><a class="news-description-head-title">לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קוואזי במר מודוף. </a>
          </div>
          <div class="news-description-body">
            <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי. <br> דימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי....</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>