.news-wrap
	.container
		.title.title--primary.title--blue
			h2 חדשות ועדכונים
		.news
			-for(var i=0; i<5; i++){
				.news-row
					a(href='news-in.html').news-image
						img(src="img/img-0.jpg" alt="image")
					.news-description
						.news-description-head
							.news-description-head-data 11/6/18 12:30
							a(href='news-in.html').news-description-head-title לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קוואזי במר מודוף. 
						.news-description-body
							p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קונדימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי. <br> דימנטום קורוס בליקרה, נונסטי קלובר בריקנה סטום, לפריקך תצטריק לרטי....
			-}