
<div class="logo-slider">
  <div class="container">
    <div class="title title--primary title--blue">
      <h2>רשויות האשכול</h2>
    </div>
    <div class="logo_slider slick"><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-0.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-1.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-2.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-3.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-4.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-5.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-6.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-0.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-1.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-2.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-3.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-4.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-5.png" alt="logo"/></div></a><a class="logo-slide">
        <div class="img-wrap"><img src="img/slide-6.png" alt="logo"/></div></a>
    </div>
  </div>
</div>