.logo-slider
	.container
		.title.title--primary.title--blue
			h2 רשויות האשכול
		.logo_slider.slick
			-for(var j=0; j<2; j++){
				-for(var i=0; i<7; i++){
					a(href=NULL).logo-slide
						.img-wrap
							img(src="img/slide-"+i+".png", alt="logo")
				-}
			-}