.main_news-wrap
	.container
		.title.title--primary.title--blue
			h2 חדשות ועדכונים
		.main_news
			.main_news-posts
				-
					var post_text = [
					'פרויקט סטארטר דיגיטלי יצא לדרך',
					'פגישה ל״בחינת הפריסה המרחבית של אזורי התעשייה בצפון״ ',
					'תכנון אזורי באמצעות אשכול רשויות גליל מערבי עם יו״ר הועדה לתכנון ולבנייה במחוז צפון. יצאנו לדרך!',
					'ביום שלישי בתאריך 29/05/2018 נערך טורניר כדורגל חופים אשכול גליל מערבי'
					];
				-for(var i=0; i<4; i++){
					a(href=NULL).main_news-posts-post
						.main_news-posts-post-image.js-img
							img(src="img/img-"+i+".jpg" alt=""+i)
						.main_news-posts-post-text
							p= post_text[i]
				-}
			.main_news-col
				-for(var i=0; i<4; i++){
				a(href=NULL).main_news-row
					.main_news-row-date
						p 11/6/18 12:30
					.main_news-row-text
						p לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסי נג אלית קוואזי במר מודוף.
				-}