.main_navigation
	.container
		-var blue_p = ['queen','hand','hands','magnifier'];
		-var blue_t = ['יחידה אסטרטגית', 'היחידה לפיתוח סביבתי', 'היחידה לפיתוח חברתי', 'היחידה לפיתוח כלכלי'];
		-var green_p = ['user','gears'];
		-var green_t = ['כח אדם', 'רכש ושירותים'];
		.main_navigation-nav_wrap
			.mainnav_part.mainnav_part--blue
				.title.title--primary.title--blue
					h2 תחומי פעילות האשכול
				.mainnav_part-row
					-for(var i=0; i<4; i++){
						a(href="javascript:void(0)").col
							.col-icon
								svg
									use(xlink:href="#"+blue_p[i])
							.col-text
								p= blue_t[i] 
					-}
			.mainnav_part.mainnav_part--green
				.title.title--primary.title--green
					h2 מכרזים
				.mainnav_part-row
					-for(var i=0; i<2; i++){
						a(href="javascript:void(0)").col
							.col-icon
								svg
									use(xlink:href="#"+green_p[i])
							.col-text
								p= green_t[i] 
					-}