.contact__officials.contact__officials--top
	.container
		.title.title--blue.title--primary
			h2 מכרזים - כח אדם
		.contact__wrap
			.contact__table.contact__table--center
					.contact__row
						.contact__col.contact__col--first שם המכרז
						.contact__col.contact__col--first תאריך פתיחת מרכז
						.contact__col.contact__col--first תאריך סגירת מרכז
					.contact__row(style="height: 41px")
					.contact__row
						.contact__col דרוש/ה מדריך/ת נוער ואיתור 
						.contact__col 05/07/2018
						.contact__col 29/07/2018
					.contact__row
						.contact__col דרוש/ה למחלקה לשירותיים חברתיים - עו"ס משפחות - עדיפות לעו"ס לחוק סדרי דין 
						.contact__col 05/07/2018
						.contact__col 17/07/2018
					.contact__row
						.contact__col פסיכולוג/ית חינוכי 
						.contact__col 05/07/2018
						.contact__col 29/07/2018
					.contact__row
						.contact__col דרוש/ה מדריך/ת נוער ואיתור 
						.contact__col 05/07/2018
						.contact__col 29/07/2018
					.contact__row
						.contact__col פסיכולוג/ית חינוכי 
						.contact__col 05/07/2018
						.contact__col 29/07/2018
					.contact__row
						.contact__col דרוש/ה למחלקה לשירותיים חברתיים - עו"ס משפחות - עדיפות לעו"ס לחוק סדרי דין 
						.contact__col 05/07/2018
						.contact__col 17/07/2018
					.contact__row
						.contact__col פסיכולוג/ית חינוכי 
						.contact__col 05/07/2018
						.contact__col 29/07/2018
					.contact__row
						.contact__col דרוש/ה מדריך/ת נוער ואיתור 
						.contact__col 05/07/2018
						.contact__col 29/07/2018
