.menu.menu__wrap
    .container
        ul.menu__ul
            li.menu__li.menu__li--color
                a.menu__link(href="NULL") כח אדם
            li.menu__li.menu__li--color
                a.menu__link(href="NULL") רכש ושירותים
