.main_about.main_about--bottom
	.container
		.title.title--blue.title--primary
			h2 פזיוטרפיסט/ית - מרכז גוונים-היחידה להתפתחות הילד
		.text.text--primary.text--left.text--p-bottom
			p היקף משרה
				br
				| 20%-30%
			p תאור התפקיד:
				br
				| מתן טיפולים ואבחונים לתינוקות וילדים בעלי קשיים התפתחותיים מגיל לידה עד גיל 9 שנים.
			p רישות התפקיד: 
				br
				| תעודת בוגר בפיזיותרפיה ממוסד אקדמי מוכר
				br
				| תעודת מקצוע ממשרד הבריאות
				br
				| ניסיון כפיזיותרפיסט /ית עדיפות לניסיון בהתפתחות הילד
				br
				| עברית ברמה גבוהה
				br
				| יישומי מחשב שליטה ביישומי office
				br
				| יחסי אנוש טובים,יכולת עבודה בצוות,יכולת עבודה עצמאית,סדר וארגון,יכולת ביטוי בכתב ובע"פ,התמדה. 
			p תחילת עבודה:
				br
				| מיידי
			p תנאי שכר:
				br
				| דירוג פארא רפואי בהתאם להשכלה
			p כפיפות:
				br
				| מנהלת היחידה להתפתחות הילד