.category__files
	.container
		.title.title--primary.title--blue
			h2 קבצים להורדה
			.category__file
				- for(i=0; i<3; i++)
					.category__item
						a(href="NULL")
							.category__pic
								img(src="img/files_1.svg", alt="")
							.category__text תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.
					.category__item
						a(href="NULL")
							.category__pic
								img(src="img/files_2.svg", alt="")
							.category__text תוכנית מאוגדת לניהול אזורי של פסולת באשכול רשויות הגליל המערבי.