.modal__bg
.modal.modal__wrap
    span.modal__close
    .modal__body
        .modal__text טקסט חופשי תנאי השימוש. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק. טקסט חופשי תנאי השימוש. טקסט חופשי של האשכול לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.
        .btn.btn--primary אני מסכים
        .modal__input
            .modal__radio
                input(type="radio" name="radio_1" id="radio_1" checked)
                label.modal__label(for="radio_1") לא מאשר
            .modal__radio
                input(type="radio" name="radio_1" id="radio_2")
                label.modal__label(for="radio_2") מאשר