
<div class="contact__officials contact__officials--top">
  <div class="container">
    <div class="title title--blue title--primary">
      <h2>מצב חשבון</h2>
    </div>
    <div class="contact__wrap">
      <div class="contact__table contact__table--center">
        <div class="contact__row">
          <div class="contact__col contact__col--first">שם המכרז</div>
          <div class="contact__col contact__col--first">תאריך פתיחת מרכז</div>
          <div class="contact__col contact__col--first">תאריך סגירת מרכז</div>
        </div>
        <div class="contact__row" style="height: 41px"></div>
        <div class="contact__row">
          <div class="contact__col">דרוש/ה מדריך/ת נוער ואיתור </div>
          <div class="contact__col">05/07/2018</div>
          <div class="contact__col">29/07/2018</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">דרוש/ה למחלקה לשירותיים חברתיים - עו"ס משפחות - עדיפות לעו"ס לחוק סדרי דין </div>
          <div class="contact__col">05/07/2018</div>
          <div class="contact__col">17/07/2018</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">פסיכולוג/ית חינוכי </div>
          <div class="contact__col">05/07/2018</div>
          <div class="contact__col">29/07/2018</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">דרוש/ה מדריך/ת נוער ואיתור </div>
          <div class="contact__col">05/07/2018</div>
          <div class="contact__col">29/07/2018</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">פסיכולוג/ית חינוכי </div>
          <div class="contact__col">05/07/2018</div>
          <div class="contact__col">29/07/2018</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">דרוש/ה למחלקה לשירותיים חברתיים - עו"ס משפחות - עדיפות לעו"ס לחוק סדרי דין </div>
          <div class="contact__col">05/07/2018</div>
          <div class="contact__col">17/07/2018</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">פסיכולוג/ית חינוכי </div>
          <div class="contact__col">05/07/2018</div>
          <div class="contact__col">29/07/2018</div>
        </div>
        <div class="contact__row">
          <div class="contact__col">דרוש/ה מדריך/ת נוער ואיתור </div>
          <div class="contact__col">05/07/2018</div>
          <div class="contact__col">29/07/2018</div>
        </div>
      </div>
    </div>
  </div>
</div>