.news-wrap
	.container
		.title.title--blue.title--primary
			h2 מצב חשבון
		.status.status__wrap
			.status__body
				.status__credit
					.status__balance יתרות בחובה: 10,000 ש״ח
					.status__balance יתרות בזכות: 15,000 ש״ח
					.status__balance הפרש: 5,000 ש״ח
			.status__body
				.status__overflow
					.status__table
							.status__row
								.status__col.status__col--first מס׳
								.status__col.status__col--first תאריך מסמך
								.status__col.status__col--first סוג מסמך
								.status__col.status__col--first תיאור
								.status__col.status__col--first סכום
								.status__col.status__col--first 
							.status__row(style="height: 41px")
							.status__row
								.status__col 600420 
								.status__col 5/7/2018
								.status__col
									a(href="#") חשבונית מס/קבלה
								.status__col מכרז מערכת מוצר כמה מילים שתצריך על 
								.status__col 200
								.status__col 
									.status__desctop
										a(href="#")
											img(src="img/files_5.svg", alt="")
										a(href="#")
											img(src="img/files_6.svg", alt="")
									.status__mobil
										a(href="#").status__link
											img(src="img/files_7.svg", alt="")
							.status__row
								.status__col 800277 
								.status__col 5/7/2018
								.status__col
									a(href="#") קבלה
								.status__col מכרז מערכת מוצר כמה מילים שתצריך על 
								.status__col 400
								.status__col 
									.status__desctop
										a(href="#")
											img(src="img/files_5.svg", alt="")
										a(href="#")
											img(src="img/files_6.svg", alt="")
									.status__mobil
										a(href="#").status__link
											img(src="img/files_7.svg", alt="")
							.status__row
								.status__col 400469 
								.status__col 1/7/2018
								.status__col
									a(href="#") חשבון עסקה
								.status__col מכרז מערכת מוצר כמה מילים שתצריך על 
								.status__col 50
								.status__col 
									.status__desctop
										a(href="#")
											img(src="img/files_5.svg", alt="")
										a(href="#")
											img(src="img/files_6.svg", alt="")
									.status__mobil
										a(href="#").status__link
											img(src="img/files_7.svg", alt="")
							.status__row
								.status__col 600420 
								.status__col 1/6/2018
								.status__col
									a(href="#") קבלה
								.status__col מכרז מערכת מוצר כמה מילים שתצריך על 
								.status__col 150
								.status__col 
									.status__desctop
										a(href="#")
											img(src="img/files_5.svg", alt="")
										a(href="#")
											img(src="img/files_6.svg", alt="")
									.status__mobil
										a(href="#").status__link
											img(src="img/files_7.svg", alt="")
							.status__row
								.status__col 800277 
								.status__col 10/4/2018
								.status__col
									a(href="#") הזמנה
								.status__col מכרז מערכת מוצר כמה מילים שתצריך על 
								.status__col 800277
								.status__col 
									.status__desctop
										a(href="#")
											img(src="img/files_5.svg", alt="")
										a(href="#")
											img(src="img/files_6.svg", alt="")
									.status__mobil
										a(href="#").status__link
											img(src="img/files_7.svg", alt="")
							.status__row
								.status__col 400469 
								.status__col 23/3/2018
								.status__col
									a(href="#") חשבונית מס/קבלה
								.status__col מכרז מערכת מוצר כמה מילים שתצריך על 
								.status__col 400469
								.status__col 
									.status__desctop
										a(href="#")
											img(src="img/files_5.svg", alt="")
										a(href="#")
											img(src="img/files_6.svg", alt="")
									.status__mobil
										a(href="#").status__link
											img(src="img/files_7.svg", alt="")

