body{font-family:'Heebo', sans-serif}.pr-hidden{display:none}.container{max-width:1170px;width:100%;padding:0 15px;margin:0 auto}.container--fluid{max-width:100%}.text--primary{font-size:18px;color:#4f515f}.text--center{text-align:center}.title--primary{text-align:center;font-size:22px;font-weight:900;letter-spacing:0.02em}.title--right{text-align:right}.title--white{color:#fff}.title--green{color:#60713a}.title--blue{color:#38718e}
/*# sourceMappingURL=global.css.map */