body
	font-family 'Heebo', sans-serif
	overflow-x hidden
	
.pr-hidden
	display none

.container
	max-width 1170px
	width 100%
	padding 0 15px
	margin 0 auto
	&--fluid
		max-width 100%
	&__footer
		max-width 1195px
		@media screen and (max-width:1170px)
			padding 0 36px
		@media screen and (max-width:1023px)
			padding 0 25px
		@media screen and (max-width:1023px)
			padding 0 32px 0 25px
		@media screen and (max-width:479px)
			padding 0 10px

.mob-only
	display none

.tab-only
	display none

.text
	&--primary
		font-size 18px
		color #4F515F
	&--center
		text-align center

.title
	&--primary
		text-align center
		font-size 22px
		font-weight 900
		&-bottom
			font-size 21px
			letter-spacing -0.01em;
		letter-spacing 0.02em
	&--right
		text-align right
	&--center
		text-align center
	&--white
		color #fff
	&--green
		color #60713A
	&--blue
		color #38718E
.page__img
	width 100%
	img
		width 100%
		vertical-align middle

.js-img
	position relative
	overflow hidden
	img
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)

.wrap
	&--dark
		background-color #eaeddf

@media (max-width 1023px)
	.tab-only
		display block