.skipArea {
	background: #333;
	color: #fff;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: -9999px;
	left: 0;
	width: 300px;
	z-index: 20000
}

.skipArea a {
	color: #fff
}

#accability_toolbar {
	position: absolute;
	top: 33px;
	left: 0;
	width: 100%;
	max-width: 135px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 100;
	pointer-events: none;
}
#accability_toolbar.open {
	overflow: visible;
}
#accability_toolbar #icon-accability {
	display: block;
	fill: #38718e;
	max-width: 100%;
	max-height: 100%;
}
#accability_toolbar #icon-links {
	display: block;
	fill: #38718e;
	width: 17px;
	height: 17px;
	margin: auto;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
#accability_toolbar button.active #icon-links {
	fill: #000;
}

#accability_toolbar #icon-font {
	display: block;
	fill: #38718e;
	width: 14px;
	height: 14px;
	margin: auto;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

#accability_toolbar button.active #icon-font {
	fill: #000;
}
#accability_toolbar * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#accability_toolbar > button {
	display: block;
	pointer-events: all;
	border: 1px solid #ececec;
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	will-change: transform;
}

#accability_toolbar > button:not(#show_accability_menu) {
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	visibility: hidden;
	pointer-events: none;
	width: 135px;
	will-change: transform;
}
#accability_toolbar >#show_accability_menu.active ~ button {
	visibility: visible;
	pointer-events: all;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
#accability_toolbar > button,
.access_button_style {
	height: 42px;
	max-width: 100%;
}

#accability_toolbar > button#show_accability_menu {
	display: block;
	width: 63px;
	height: 69px;
	font-size: 0 !important;
	color: transparent !important;
	padding: 0;
}

/* #accability_toolbar > button#show_accability_menu.active {
	width: 135px;
} */
#accability_toolbar > button#show_accability_menu,
.ocw_cf label {
	display: block
}

body.enlarge_text p,
body.enlarge_text a,
body.enlarge_text h1,
body.enlarge_text h2,
body.enlarge_text h3,
body.enlarge_text h4,
body.enlarge_text h5,
body.enlarge_text h6 {
	font-size: 22px!important;
	line-height: normal!important;
}

body.dec_text p,
body.dec_text a,
body.dec_text h1,
body.dec_text h2,
body.dec_text h3,
body.dec_text h4,
body.dec_text h5,
body.dec_text h6 {
	font-size: 14px!important;
	line-height: normal!important;
}

button#enlarge_text {
	font-size: 26px!important;
}

button#reset_text {
	font-size: 18px;
}

button#dec_text {
	font-size: 12px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

#accability_toolbar > button:not(.active),
.access_button_style:not(.active) {
	border: 1px solid;
	position: relative;
	background: #fff;
	color: #38718e!important;
	vertical-align: bottom;
}
#accability_toolbar > button.active,
.access_button_style.active {
	background-color: #e5e9d8;
	color: #38718e!important;
}

#accability_toolbar > button#show_accability_menu {
	height: 69px;
	border: none;
	background: transparent!important;
	margin-left: 0;
    margin-right: auto;
}

#accability_toolbar img.acc-icon {
	height: 50px;
	margin: auto;
}

#accability_toolbar .access_button_style {
	background: #000;
	color: #fff
}

.back_s {
	font-size: 16px!important
}

.apended_glas_mag,
.apended_glas_mag *,
.the_skip {
	color: #fff!important
}

body.light_bac:not(.no_back_change),
body.light_bac:not(.no_back_change) *:not(.no_back_change) {
	background: #fff!important;
	color: #000!important;
}

body.dark_bac:not(.no_back_change),
body.dark_bac:not(.no_back_change) *:not(.no_back_change) {
	color: #fff!important;
	background: #000!important
}


/**/
body.dark_bac:not(.no_back_change) input:not(.no_back_change),
body.dark_bac:not(.no_back_change) button:not(.no_back_change),
body.dark_bac:not(.no_back_change) textarea:not(.no_back_change) {
	border: 1px solid #fff!important;
}
body.dark_bac:not(.no_back_change) input::-webkit-input-placeholder {
	color: #fff!important;
}

body.dark_bac:not(.no_back_change) input:-ms-input-placeholder {
	color: #fff!important;
}

body.dark_bac:not(.no_back_change) input::-moz-placeholder {
	color: #fff!important;
}

body.dark_bac:not(.no_back_change) textarea::-webkit-input-placeholder {
	color: #fff!important;
}

body.dark_bac:not(.no_back_change) textarea:-ms-input-placeholder {
	color: #fff!important;
}

body.dark_bac:not(.no_back_change) textarea::-moz-placeholder {
	color: #fff!important;
}

body.dark_bac:not(.no_back_change) .nm-ocw-input {
	border: 1px solid #fff!important;
}


body.light_bac:not(.no_back_change) input:not(.no_back_change),
body.light_bac:not(.no_back_change) button:not(.no_back_change),
body.light_bac:not(.no_back_change) textarea:not(.no_back_change) {
	border: 1px solid #000!important;
}
body.light_bac:not(.no_back_change) input::-webkit-input-placeholder {
	color: #000!important;
}

body.light_bac:not(.no_back_change) input:-ms-input-placeholder {
	color: #000!important;
}

body.light_bac:not(.no_back_change) input::-moz-placeholder {
	color: #000!important;
}

body.light_bac:not(.no_back_change) textarea::-webkit-input-placeholder {
	color: #000!important;
}

body.light_bac:not(.no_back_change) textarea:-ms-input-placeholder {
	color: #000!important;
}

body.light_bac:not(.no_back_change) textarea::-moz-placeholder {
	color: #000!important;
}

body.light_bac:not(.no_back_change) .nm-ocw-input {
	border: 1px solid #000!important;
}

/**/

.links_b a {
	text-decoration: underline!important;
}

.font_change_ro_arial *:not(i) {
	font-family: arial!important;
}

.ocw_cf .inner_label,
.ocw_cf .inner_label input {
	display: inline-block;
	margin: 10px
}

.apended_glas_mag {
	background: #333;
	color: #fff;
	font-size: 2em;
	padding: 10px;
	position: absolute;
	z-index: 1000000;
	line-height: 1.5em
}

.sf-menu a:focus {
	outline: solid 1px!important
}

.former_h5 {
	color: #ff7477;
	font-family: "Open Sans Hebrew Condensed", Arial, sans-serif;
	font-size: 23px;
	font-weight: 400;
	line-height: 2em;
	text-transform: uppercase
}

#dec_text {
	font-size: 10px
}

#enlarge_text {
	font-size: 26px;
	padding-bottom: 0;
	padding-top: 0
}

.enlarge_text .mobile-menu a,
.enlarge_text .sf-menu a {
	font-size: 30px
}

.enlarge_text #page-header {
	font-size: 90px
}

.enlarge_text .former_h5.pb-widget-title {
	font-size: 2em
}

body.enlarge_text {
	font-size: 28px
}

.font_s {
	font-size: 15px;
	height: 32px;
	line-height: 10px;
	overflow: hidden;
	padding: 0;
	vertical-align: bottom;
	width: 36px
}

.enlarge_text #footer {
	font-size: 28px
}

footer#footer {
	color: #fff
}

.dec_text .mobile-menu a,
.dec_text .sf-menu a {
	font-size: 12px
}

.dec_text #page-header {
	font-size: 30px
}

.dec_text .former_h5.pb-widget-title {
	font-size: .7em
}

.dec_text #footer,
body.dec_text {
	font-size: 12px
}

.light_bac .mobile-menu a,
.light_bac .sf-menu a,
body.light_bac {
	color: #000;
	background: #fff
}

.light_bac .section {
	background: #fff!important;
	color: #000
}

.light_bac #footer,
.light_bac #page-header.page-header-style-custom_bg,
.light_bac article {
	background: #fff;
	color: #000
}

.light_bac .sf-menu .sub-menu li a {
	color: #000
}

#accability_toolbar > button:not(.active):focus {
	color: red!important
}

body:focus:not(h1):not(h2):not(h3):not(h4):not(h5):not(p) {
	outline: red solid 1px!important
}

.the_skip {
	display: block
}

.dark_bac .mobile-menu a,
.dark_bac .sf-menu a,
body.dark_bac {
	color: #fff;
	background: #000!important
}

.dark_bac.section {
	background: #000!important;
	color: #fff
}

.dark_bac #footer,
.dark_bac #page-header.page-header-style-custom_bg,
.dark_bac article {
	background: #000;
	color: #fff
}

.dark_bac .sf-menu .sub-menu li a {
	color: #fff
}

.links_b a {
	text-decoration: underline!important
}

body.font_change_ro_arial,
body.font_change_ro_arial:not(i) {
	font-family: arial!important
}

@media(max-width:768px) {
	#accability_toolbar {
		max-width: none;
		width: 100%
	}
	#accability_toolbar > button:not(#show_accability_menu) {
		width: 100%;
	}
	#accability_toolbar > button#show_accability_menu.active {
		width: 100%;
	}
}