.btn 
    cursor pointer;
    display inline-block
    border none
    background none
    text-decoration none
    color inherit
    transition-timing-function ease
    transition-duration .3s
    transition-property color, background, border
    text-align center
    &--primary 
        color: white
        font-size 18px;
        font-weight 500
        line-height 1
        background-color #4a5060
        padding 11px 20px
        letter-spacing 0.04em;
        min-width 182px
        &:hover, &:focus 
            background-color #232939
    &--secondary 
        color: white
        font-size 17px;
        font-weight 500
        line-height 1
        background-color #38718e
        padding 11px 6px
        letter-spacing 0.04em;
        min-width 182px
        &:hover, &:focus 
            background-color #1e526d

    &--small
        min-width 63px
        height 30px
        font-size 18px
        font-weight 900
        color #fff
        text-align center
        border-radius 3px
    &--closed
        background-color #663333
        &:hover
            background-color #a25353
    &--open
        background-color #60713A
        &:hover
            background-color #acc58f