.menu
	@media screen and (max-width:767px)
		display none
	&__ul
		display flex
		justify-content center
	&__li
		width 25%
		background #3a728c
		text-align center
		transition all 0.2s linear
		&:hover
			background #20546d
		&--color
			background #60713A
			&:hover
				background #465622
	&__link
		color #fff
		line-height 50px
		display block
.category
	&__wrap
		background #e4e9d9
		margin-top 33px
		padding-bottom 43px
	&__slider
		padding 0 57px
		@media screen and (max-width:1170px)
			padding 0 40px
		img 
			vertical-align middle
		&--top
			position relative
			top -33px
	&__files
		padding 76px 0 86px
	&__slider2
		padding 45px 57px 0
		text-align center
			@media screen and (max-width:1170px)
				padding 45px 40px 0
		a
			color #38718E
	&__pic
		text-align center
		height 77px
		line-height 77px
		img 
			vertical-align middle
			margin 0 auto
	&__text
		padding 40px 20px 0
		text-align center
		@media screen and (max-width:1023px)
			padding 40px 80px 0
		@media screen and (max-width:479px)
			padding 40px 10px 0
	&__file
		text-align: center
	&__item
		padding: 65px 0 0px
		display inline-block
		vertical-align top
		width 32.5%
		font-size 16px
		line-height 24px
		font-weight normal
		letter-spacing 0
		@media screen and (max-width:1023px)
			width 49%
		@media screen and (max-width:767px)
			width 100%
		a
			color #38718E