.commitments__wrap
	padding-top 40px
	padding-bottom 140px
.commitments
	display flex
	justify-content space-between
	flex-wrap wrap
	@media(max-width 480px)
		padding 0 40px
.commitment
	width 30%
	margin-top 40px
	padding-bottom 5px
	@media(max-width 998px)
		width 48%
	@media(max-width 600px)
		width 100%
	&__image
		height 145px
		width 100%
		img
			width 100%
	&__body
		margin-top 25px
		justify-content space-between
		display flex
	&__text
		font-size 18px
		color #38718E
		line-height 1.2
		@media(max-width 998px)
			font-size 20px
		@media(max-width 480px)
			font-size 4.1vw
		strong
			font-weight 900
	&__slider
		width 100%
		margin-top 30px
		&-body
			position relative
			height 5px
			background #9fbacd
			background -moz-linear-gradient(left, #9fbacd 0%, #bcc99a 100%)
			background -webkit-linear-gradient(left, #9fbacd 0%,#bcc99a 100%)
			background linear-gradient(to right, #9fbacd 0%,#bcc99a 100%)
		&-val
			position absolute
			top 0
			bottom 0
			left 0
			background-color #38718E
			&:after
				content ''
				position absolute
				right 0
				width 5px
				height 10px
				top 50%
				transform translateY(-50%)
				background-color #38718E
			span
				position absolute
				right 0
				transform translateX(50%)
				bottom 10px
				color #38718E
				font-size 16px
