.contact
	&__officials
		padding-bottom 85px
		margin-top: -5px;
		&--top
			padding-top: 85px
	&__address
		color #38718E
		padding: 4px 0 0px;
		line-height: 1.4em;
		a
			color #38718E
			&:hover, &:focus
				color #60713a
	&__wrap
		width 100%
		@media(max-width 900px)
			overflow hidden
			overflow-x scroll
	&__table
		margin-top 80px
		display table
		text-align right 
		width 100%
		min-width 850px
		&-calc 
			margin-top 0
			min-width auto
			.contact__col
				padding 13px 20px 10px 20px
				font-size 16px
				@media screen and (max-width:767px)
					padding 13px 10px 10px 10px
			.contact__row:last-child .contact__col
				border none
			.contact__col--first
				padding 31px 30px 30px 20px
				font-size: 22px;
				font-weight: 500;
				@media screen and (max-width:767px)
					padding 31px 10px 30px 10px
			.contact__col:nth-child(4)
				@media screen and (max-width:767px)
					display none
		&--center
			.contact__col:not(:first-child)
				text-align center
	&__row
		display table-row
		cursor pointer
		&:hover
			background #ece8de
		&--color
			background #ece8de
	&__col
		display table-cell
		padding 12px 57px 4px 20px
		line-height 24px
		border-bottom 1px solid #ece8de
		font-size 18px
		color #4F515F
		&--last
			border none
			width 225px
		&--vert
			vertical-align middle
		&--noborder
			border none
		&:not(:first-child)
			padding-right 20px
		&:last-child
			@media screen and (max-width:767px)	
				border-bottom 1px solid #ece8de	
		&--first
			background #e4e9d9
			font-size 22px
			font-weight 900
			letter-spacing 0.02em
			color #60713A
			padding 31px 50px 31px 20px
			border-bottom none
		&--center
			text-align center
	&__form
		background #e4e9d9
		padding 80px 0 87px
	&__input
		border 1px solid #38718e
		border-radius 3px
		width 62px
		text-align center
		height 33px
		box-sizing border-box
		color #4F515F
		margin 0 auto
		display block
		font-weight 500
		font-size 18px