.footer
	&__top
		background #6fa4c4
		padding 79px 0 85px
		&--size
			max-width 1057px
			margin 0 auto
			padding 0 15px
			box-sizing border-box
			@media screen and (max-width:1170px)
				padding 0 25px
			.title
				margin-bottom: 32px
				@media screen and (max-width:767px)
					text-align center
			@media screen and (max-width:767px)
				padding: 0 31px;
				.title
					letter-spacing: 0.11em;
	&__bottom
		background #4a5060
		padding 87px 0 86px
		overflow hidden
		color #fff
		line-height 18px
		font-size 15px
		@media screen and (max-width:1170px)
			padding-top 86px
		@media screen and (max-width:1023px)
			padding 87px 0 44px
		@media screen and (max-width:767px)
			padding 64px 0 65px
	&__logo
		margin -4px -2px 0 0
		@media screen and (max-width:767px)
			margin 0px -9px 32px 0
	&__body
		position relative;
		display flex
		@media screen and (max-width:1023px)
			display block
	&__flex
		display flex
	&__col
		min-width 150px
		@media screen and (max-width:1170px)
			min-width auto
	&__col1
		padding-left 51px 
		@media screen and (max-width:1170px)
			width 213px
			padding-left 10px
		@media screen and (max-width:1023px)
			float right 
			width 239px
		@media screen and (max-width:767px)
			float none 
	&__col2
		padding-left 21px 
		@media screen and (max-width:1170px)
			width 151px
			padding-left 10px
		@media screen and (max-width:767px)
			width: 157px;
		@media screen and (max-width:479px)
			width auto
	&__col3
		padding-left 43px 
		@media screen and (max-width:1170px)
			width 182px
			padding-left 10px
		@media screen and (max-width:767px)
			order 3
			padding-left: 0;
			width 150px
		@media screen and (max-width:479px)
			width auto
	&__col4
		padding-left 12px
		min-width 130px
		@media screen and (max-width:1170px)
			width 130px
			padding-left 10px
		@media screen and (max-width:1170px)
			width auto
			min-width 120px
		@media screen and (max-width:479px)
			width auto
	&__col5
		@media screen and (max-width:1170px)
			width 230px
			padding-left 10px
		@media screen and (max-width:1023px)
			clear: both;
			padding: 39px 239px 0 0;
			width: auto;
		@media screen and (max-width:767px)
			padding: 24px 0 0 6px;
			text-align: center;
	&__col--admin
		@media screen and (max-width:767px)
			width 100%
			text-align center
	&__copy
		clear both
		padding-top 79px
		padding-right 71px
		span 
			padding-left 15px
		span+span 
			padding-left 28px
		@media screen and (max-width:1170px)
			padding-top 61px
			padding-right 0px
			margin-right -10px
		@media screen and (max-width:1023px)
				padding-top: 46px;
				padding-right: 0px;
				margin-right: -2px;
				span+span 
					padding-left 30px
		@media screen and (max-width:767px)
			padding-top: 53px;
			padding-right: 0px;
			margin-right: 0px; 
			text-align: center
			padding-left: 7px;
			span 
				display: block
				padding-left: 0
			span + span
				display: inline
	&__link
		color #fff
		&:hover
			color #6fa4c4
	&__head
		letter-spacing 0.01em
		margin-bottom 18px
	&__facebook
		position absolute
		width 32px
		top 3px
		left 12px
		&:hover
			opacity .75
		img 
			width 100%
		@media screen and (max-width:1170px)
			left -7px
		@media screen and (max-width:1023px)
			top 178px
			left 0px
		@media screen and (max-width:767px)
			top 38px
			left 6px
		&--admin
			@media screen and (max-width:1170px)
				left 12px
			@media screen and (max-width:1023px)
				top 3px
				left 12px
			@media screen and (max-width:767px)
				top 3px
				left 12px
	&__address
		a
			color #fff
			&:hover
				color #6fa4c4