.form
    &__field
        &--100
            width 100%;
            margin-left 30px
        &--submit
            input 
                display block
                font-size: 20px;
                line-height: 40px;
                padding: 0;
                letter-spacing: -0.05em;
                @media screen and (max-width:1170px)
                    min-width 174px
                @media screen and (max-width:1023px)
                    min-width 157px
                @media screen and (max-width:767px)
                    margin: 27px auto 0;
                    min-width: 182px;
        &--submit2
            input 
                margin 32px auto 0 
        textarea
            height 89px
    &__input
        background #ffffff
        border none 
        width: 100%
        padding 6px 15px
        font normal 16px/28px 'Heebo', sans-serif;
        resize:none;
    &__flex
        display flex
        justify-content space-between
        @media screen and (max-width:767px)
            display block
    &__container
        max-width 844px
        margin 0 auto
        padding 0 15px
    &__contact
        margin-top 74px
        color #4F515F
    &__p
        font-size 19px
        font-weight 900
        letter-spacing 0.02em
        margin-bottom: 17px;
    &__label
        display block
        padding 7px 0 1px
        font-size: 18px

.search_active
    .form--search
        width 100%