/* HEADER */

header
	position relative
.header-topline
	background: rgba(159,186,205,1);
	background: -moz-linear-gradient(left, rgba(159,186,205,1) 0%, rgba(188,201,154,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(159,186,205,1)), color-stop(100%, rgba(188,201,154,1)));
	background: -webkit-linear-gradient(left, rgba(159,186,205,1) 0%, rgba(188,201,154,1) 100%);
	background: -o-linear-gradient(left, rgba(159,186,205,1) 0%, rgba(188,201,154,1) 100%);
	background: -ms-linear-gradient(left, rgba(159,186,205,1) 0%, rgba(188,201,154,1) 100%);
	background: linear-gradient(to right, rgba(159,186,205,1) 0%, rgba(188,201,154,1) 100%);
	height 33px
	&-row
		display flex
		align-items center
		justify-content flex-end
		font-family 'Heebo', sans-serif
		font-weight 600
		max-width 1160px
		padding 0 15px
		margin 0 auto
		height 100%
		padding-top 2px
		a
			color #fff
			&:hover
				color #38718e
.header-login
	font-size 16px
	margin-left 24px



		
body.enlarge_text .header-fontsize-wrap,
body.dec_text .header-fontsize-wrap,
.header-fontsize-wrap
	#enlarge_text
		font-size 21px!important
	#dec_text
		font-size 15px!important
	.header-font-size
		&--norm
			font-size 18px!important
		&.font_s
			height auto
			vertical-align inherit
			line-height 1.4
.header-menu
	height 69px
	max-width 1200px
	padding 0 15px
	margin 0 auto
	background-color #fff
	display flex
.header-nav
	display flex
	align-items center
	margin-right 60px
	ul
		display flex
		height 100%
		align-items center
		li
			&:not(:first-child):before
				content '•'
				color #38718E
				font-size 18px
				margin 0 20px
				vertical-align middle
			a
				font-weight 400
				font-size 18px
				color #38718E
				letter-spacing 0.02em
				&:hover
				&:focus
					color #60713a
		li.active
			a
				color #60713a
				
				

.header-logo
	position relative
	z-index 1
	height 100%
	margin-right 35px
	img
		position relative
		bottom -8px
		width 170px
		height 80px
		
.header-functions
	height 69px
	position absolute
	top 33px
	left 0
	display flex
	align-items stretch
	a
		display inline-flex
		align-items center
		justify-content center
		height 100%
		width 63.7px

.header-search
	position relative
	input
		display none
	svg
		stroke #38718e
		fill transparent
		width 27px
		height 31px
	&:hover
	&:focus
		background-color #38718e
		svg
			stroke #fff

.header-accecibility
	position relative
	background-color #38718E
	svg
		stroke #fff
		height 36px
		width 30px
		fill transparent
	&:hover
	&:focus
	&:active
		background-color #fff
		svg
			stroke #38718e
			
.search-input
	display none
	width 100%
	align-items center
	height 100%
	input
		width 100%
		max-width 875px
		height 44px
		font-size 18px
		color #38718E
		border none
		box-shadow none
		padding 10px
		&::placeholder
			font-size 18px
			color #38718E

.header-image
	width 100%
	position relative
	background-position center
	background-size cover
	background-repeat no-repeat
	&--home
		height 452px
	&--inner
		height 250px
		.header-image-substrate
			display none
	&-substrate
		position absolute
		left 50%
		transform translateX(-50%)
		bottom -112px
		max-width 100%
	
/*search*/	

.search_active
	.header-logo
	.header-nav
		display none
	
	.search-input
		display flex

	.header-search
		tab-index -1
		input
			display block
			opacity 0
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			width 100%
			height 100%
			&:focus
			&:hover{}
	.header-accecibility
		z-index 999
		svg
			opacity 0
		&:before
		&:after
			content ''
			width 32px
			height 2px
			background-color #fff
			display block
			position absolute
			left 50%
			top 50%
			transition all .2s
		&:after
			transform translate(-50%, -50%) rotate(-45deg)
		&:before
			transform translate(-50%, -50%) rotate(45deg)
		&:hover
		&:focus
			&:before
			&:after
				background-color #38718E

		
@media (max-width 1200px)
	.header-topline-row
		max-width 970px

	.header-logo
		margin-right -15px
		img
			margin-right 0 
	.header-nav
		margin-right 0

@media (max-width 1023px)
	.header-menu
		padding 0
		flex-direction row-reverse
	.header-logo
		margin 0 0 0 auto
	.header-image-substrate
		bottom -12.3vw
	.header-nav
		cursor pointer
		position relative
		height 100%
		width 64px
		margin 0
		margin-left auto
		background-color #fff
		transition all .2s
		span
			width 100%
			height 100%
			position absolute
			top 50%
			left 50%
			width 32px
			height 4px
			transition all .2s
			transform translate(-50%, -50%)
			background-color #38718E
			&:before
			&:after
				content ''
				width 32px
				height 4px
				background-color #38718E
				display block
				position absolute
				left 50%
				transition all .2s
				transform translate(-50%, 0)
			&:after
				top 11px
			&:before
				top -11px
		&.active
			background-color #38718E
			span
				background transparent
				&:before
					transform translate(-50%, -50%) rotate(45deg)
					height 2px
					top 50%
					background-color #fff
				&:after
					transform translate(-50%, -50%) rotate(-45deg)
					height 2px
					top 50%
					background-color #fff
		ul
			position absolute
			flex-direction column
			right 100%
			width 242px
			height auto
			top 0
			display none
			z-index 2
			background-color #fff
			li
				background-color #fff
				transition all .2s
				width 100%
				height 69px
				min-height 69px
				padding-right 15px
				display flex
				align-items center
				&:not(:first-child):before
				&:first-child:before
					content '•'
					color #38718E
					font-size 20px
					margin 0
					margin-left 5px
					vertical-align middle
				a
					color #38718E
					font-size 20px
					&:hover
						color #38718E
				&.active
				&:hover
					background-color #E5E9D8
		&.active
			ul
				display flex
	.search-input
		input
			margin-left 130px


@media (max-width 763px)
	.header-topline-row
		a
			display none
	.header-logo
		position absolute
		left 50%
		transform translateX(-35%)

@media (max-width 480px)
	.header-logo
		transform translateX(-25%)
		img
			width 130px
			bottom -13px