.news-wrap
	background-color #EAEDDF
	padding-top 80px
	padding-bottom 90px
	.news
		display flex
		flex-wrap wrap
		&-row
			display flex
			align-items stretch
			margin-top 25px
			width 100%
			&:first-child
				margin-top 35px
	.news-image
		max-width 31.5%
		width 100%
		height 180px
		position relative
		overflow hidden
		img
			position absolute
			min-width 100%
			min-height 100%
			top 50%
			left 50%
			transform translate(-50%, -50%)
	.news-description
		margin-right 28px
		max-height 180px
		height 180px
		position relative
		background-color #fff
		padding 20px 17px 0 10px
		flex-grow 1
		width 100%
		&:before
			content ''
			display block
			position absolute
			right 0
			top 0
			bottom 0
			height 100%
			background-color #38718e
			width 2px
		&-head
			&-data
				font-size 16px
				display block
				color #4F515F
				line-height 1
			&-title
				font-size 19px
				color #38718E
				font-weight 600
				line-height 1.2
				position relative
				display block
				margin-top 5px
				&:hover
					color #60713a
		&-body
			padding-top 25px
			font-size 18px
			color #4F515F
			line-height 1.4
			text-overflow ellipsis
			overflow hidden
			height 100px
			

@media (max-width 1023px)
	.news-wrap
		.news
			&-description
				&-body
					height 70px
					
@media (max-width 763px)
	.news-wrap
		.news
			&-row
				flex-wrap wrap
				margin-top 20px
			&-image
				width 100%
				max-width 100%
				height 210px
			&-description
				margin-right 0
				padding-bottom 15px
				max-height initial
				height auto
				padding-left 0
				&-body
					height 125px