.logo-slider
	padding-top 76px
	padding-bottom 86px
.logo_slider
	margin-top 45px
	padding 0 30px
	.logo-slide
		padding 0 15px
		text-align center
		align-self stretch
		display flex
		align-items center
		justify-content center
		img
			margin 0 auto
			max-width 100%
			width auto
			max-height 100px
			height auto
		&:hover
			opacity .8
.slick-next, .slick-prev
	width 41px
	height 41px
.slick-prev
	right -10px
	left auto
	background url('../img/slider-arrow.svg') center center no-repeat
	transform translate(0, -50%) rotate(180deg)
.slick-next
	left -10px
	right auto
	background url('../img/slider-arrow.svg') center center no-repeat