.main_navigation
	position relative
	z-index 1
	padding-top 30px
	font-family 'Heebo', sans-serif
	&-nav_wrap
		display flex
	.mainnav_part
		display flex
		flex-direction column
		align-items stretch
		padding-top 50px
		&-row
			display flex
			flex-grow 1
		.col
			width 16.66666%
			display flex
			flex-direction column
			justify-content flex-start
			align-items center
			padding 0 25px
			padding-top 60px
			padding-bottom 20px
			overflow hidden
			&-icon
				display flex
				align-items center
				justify-content center
				svg
					height 95px
					transition all .2s
			&:hover
				.col-icon
					svg
						fill #fff
						
			&-text
				margin-top 40px
				line-height 1.2
				font-size 18px
				font-weight 400
				width 100%
				text-align center
		&--blue
			width 66.666%
			.col
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 11%, rgba(56,113,142,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(255,255,255,0)), color-stop(100%, rgba(56,113,142,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 11%, rgba(56,113,142,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 11%, rgba(56,113,142,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 11%, rgba(56,113,142,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 11%, rgba(56,113,142,1) 100%);
				color #fff
				width 25%
				&-icon
					svg
						fill #38718E
		&--green
			width 33.3333%
			.col
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 11%, rgba(96,113,58,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(11%, rgba(255,255,255,0)), color-stop(100%, rgba(96,113,58,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 11%, rgba(96,113,58,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 11%, rgba(96,113,58,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 11%, rgba(96,113,58,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 11%, rgba(96,113,58,1) 100%);
				color #fff
				width 50%
				&-icon
					svg
						fill #60713A

/*Accessibility*/

body.light_bac
	.main_navigation
		.mainnav_part
			.col
				&:hover
					.col-icon
						svg
							fill #000

@media (max-width 1200px)
	.main_navigation
		.container
			padding 0
			

@media (max-width 1023px)
	.main_navigation
		.mainnav_part
			.col
				padding 0 5px
				padding-top 80px
				padding-bottom 20px
				&-icon
					svg
						height 65px
						
@media (max-width 763px)
	.main_navigation
		&-nav_wrap
			flex-wrap wrap
		.mainnav_part
			padding-top 50px
			&-row
				margin 0 2vw
				flex-wrap wrap
			&--blue
				width 100%
			&--green
				width 100%
			.col
				width 50%
				&-text
					font-size 20px
				&-icon
					svg
						height 105px