.main_about
	padding 80px 0
	&--bottom
		padding-bottom 0
	.text
		padding 0 56px
		margin-top 30px
		line-height 1.45
		&--p-bottom
			p
				margin-bottom 26px
		&--about
			margin-top 34px	
			line-height 1.4			
@media (max-width 1200px)
	.main_about
		.text
			padding 0

@media (max-width 763px){}