.main_news-wrap
	background-color #EAEDDF
	padding-top 74px
	padding-bottom 87px
.main_news
	padding-top 35px
	display flex
	&-posts
		width 66.6666%
		display flex
		flex-wrap wrap
		padding-left 15px
		&-post
			width 48.1%
			margin-left 3.7%
			margin-top 3.7%
			height 148px
			position relative
			display flex
			flex-direction column
			justify-content flex-end
			&:nth-child(-n+2)
				margin-top 0
			&:nth-child(even)
				margin-left 0
			&-image
				position absolute
				left 0
				top 0
				bottom 0
				right 0
				width 100%
				height 100%
				overflow hidden
				img
					position absolute
					top 50%
					left 50%
					transform translateX(-50%) translateY(-50%)
					min-width 100%
					min-height 100%
				&:after
					content ''
					display block
					position absolute
					bottom 0
					left 0
					right 0
					width 100%
					background: url('../img/news-bg.png');
					background-size 100%
					height 110px
					transition all .2s
			&:hover .main_news-posts-post-image:after
				background-size 150%
						
			&-text
				display flex
				min-height 43px
				position relative
				z-index 1
				color #fff
				font-size 16px
				line-height 1.2
				padding-right 13px
				padding-left 5px
				padding-bottom 5px
	&-col
		width 33.3333%
		padding-right 15px
	&-row
		display block
		position relative
		padding-right 15px
		padding-top 8px
		padding-left 5px
		background-color #fff
		padding-bottom 5px
		&:not(:first-child)
			margin-top 15px
		&:before
			content ''
			display block
			position absolute
			right 0
			top 0
			bottom 0
			height 100%
			background-color #38718e
			width 2px
		&-date
			line-height 1.2
			color #4F515F
		&-text
			line-height 1.2
			letter-spacing 0.02em
			color #38718e
		&:hover
			.main_news-row-text
				color #60713a

/*Accesability*/
body.enlarge_text
	.main_news
		&-posts
			&-post
				height 290px
					

@media (max-width 1023px)
	.main_news
		flex-direction column
		&-posts
			padding 0
			width 100%
		&-col
			padding 0
			width 100%
			margin-top 35px
			display flex
			flex-wrap wrap
			font-size 16px
		&-row
			width 49%
			margin-top 2%
			margin-left 2%
			&:nth-child(-n+2)
				margin-top 0
			&:nth-child(2n)
				margin-left 0
				
@media (max-width 763px)
	.main_news
		&-posts
			&-post
				width 100%
				margin 0
				&-text
					font-size 18px
		&-row
			width 100%
			margin-left 0
			margin-top 15px
			&:nth-child(-n+2)
				margin-top 15px
			&-date
			&-text
				font-size 18px