.modal
    &__bg
        position fixed
        top 0
        left 0
        bottom 0
        right 0
        background rgba(115,164,193,.6)
        z-index 9000
        display none
    &__wrap
        width 100%
        max-width 850px
        left 50%
        margin-left -425px
        position absolute
        top 50px
        background #fff
        z-index 9010
        display none
        @media screen and (max-width:1023px)
            margin-left 0
            right 0
            left 0
    &__body
        padding 70px 75px 32px 65px
        text-align left 
        @media screen and (max-width:767px)
            padding 70px 25px 32px 25px
    &__close
        display block
        position absolute
        top 28px
        right 28px
        background url(../img/close.svg) no-repeat center
        width 24px
        height 24px
        cursor pointer
        transition: all 0.2s linear;
        &:hover
            transform rotate(180deg)
    &__text
        text-align right
        line-height 26px
        font-size 18px
        padding-bottom 55px
    &__input
        padding-top 37px
        padding-left 5px
        display: flex;
        justify-content: flex-end;

    &__radio
        margin-right 33px
        input 
            display none
            &:checked + label 
                background-position right -22px
    &__label
        display block
        background url(../img/radio_bg.png) no-repeat right 0
        padding-right 33px
        line-height 22px
        cursor pointer
