.news-item
	background-color #fff
	position relative
	margin-top 35px
	padding 25px 55px 35px 50px
	&:before
		content ''
		display block
		position absolute
		right 0
		top 0
		bottom 0
		height 100%
		background-color #38718e
		width 2px
	&-data
		color #4F515F
		font-size 16px
	&-text
		margin-top 30px
		color #4F515F
		font-size 18px
	&-image
		margin-top 55px
		width 100%
		img
			width 100%
			
@media (max-width 763px)
	.news-item
		padding 20px 8px 30px 8px
		&-image
			padding 0 3px	