.status
	&__wrap
		padding-top 80px
	&__body
		background #fff
		border-right 2px solid #38718e
		padding 15px 25px
		margin-bottom 85px
		@media screen and (max-width:767px)
			padding 15px 15px
		&+&
			margin-bottom 0
	&__credit
		display flex
		justify-content: space-around;
		color #38718E
		font-size 23px
		font-weight bold
		line-height 56px
		@media screen and (max-width:1023px)
			flex-wrap wrap
			text-align center
		@media screen and (max-width:767px)
			font-size 21px
	&__balance
		@media screen and (max-width:1023px)
			width 50%
		@media screen and (max-width:767px)
			width 100%
	&__overflow
		@media screen and (max-width:560px)
			overflow: hidden;
			overflow-x: scroll;
	&__table
		display table
		text-align right
		width 100%
		min-width 480px
	&__row
		display table-row
		&:hover
			background #ece8de
	&__col
		display table-cell
		padding 12px 25px 4px 25px
		line-height 24px
		border-bottom 1px solid #ece8de
		font-size 18px
		color #4F515F
		position relative
		@media screen and (max-width:1023px)
			padding 12px 15px 4px 15px
		@media screen and (max-width:767px)
			padding 12px 5px 4px 5px
		a
			color #4F515F
		&--first
			background #e4e9d9
			font-size 22px
			font-weight 900
			letter-spacing 0.02em
			color #60713a
			padding 31px 25px 31px 25px
			border-bottom none
			@media screen and (max-width:1023px)
				padding 31px 15px 31px 15px
			@media screen and (max-width:767px)
				padding 25px 5px 25px 5px
		&:nth-child(4)
			@media screen and (max-width:1023px)
				display none
		&:last-child
			min-width 20px
			box-sizing border-box
			&:hover
				.status__desctop
					display block


	&__desctop
		text-align center
		@media screen and (max-width:767px)
			display none
			position absolute
			border 1px solid #ece8de
			padding 5px
			top -5px
			left 20px
			background #fff
		img 
			width 23px
			display inline-block
			margin 0 10px
			vertical-align middle
			@media screen and (max-width:767px)
				margin 5px 0px
	&__mobil
		display none
		@media screen and (max-width:767px)
			display block
		img 
			width 6px
			vertical-align middle