.tab
	&__body
		display none
		&.is-active
			display block
	&__nav
		background #e6e9d9
		display flex
		justify-content space-between
	&__head
		width 50%
		height 75px
		text-align left
		padding 20px 37px
		color #a9c58c
		font-size 34px
		border-top 3px solid transparent
		cursor pointer
		box-sizing border-box
		line-height 32px
		transition: all 0.2s linear;
		@media screen and (max-width:767px)
			width 20%
		&.is-active
			@media screen and (max-width:767px)
				width 80%
		&.is-active, &:hover
			background #fff
			border-top 3px solid #6691a5
			color #2d6c8b
			box-shadow 0 -10px 10px rgba(0,0,0,.05)
	&__wrap
		background #fff
		padding 47px 63px  44px 63px
		overflow hidden
		box-shadow 0 10px 20px rgba(0,0,0,.15)
		@media screen and (max-width:1023px)
			padding 46px 17px
	&__flex
		display flex
		justify-content: space-between;
		@media screen and (max-width:767px)
			display block
		& > div
			width 50%
			@media screen and (max-width:767px)
				width 100%
	&__bottom
		padding-top 91px
		@media screen and (max-width:767px)
			padding-top 70px
		a
			margin-right 17px
			margin-top 4px
			@media screen and (max-width:767px)
				margin 10px auto 0
				display block
	&__bottom3
		clear both
		padding-top 60px
		@media screen and (max-width:767px)
			padding-top 30px
			text-align center
