.team
    background #e4e9d9
    padding 83px 0 59px
    &__wrap
        max-width 1060px
        margin 0 auto
        padding 0 15px
        box-sizing border-box
    &__item
        overflow hidden
        & + &
            margin-top 55px
    &__img
        float right 
        padding-top 66px
        @media screen and (max-width:767px)
            padding-top 0
            float none
            margin 0 auto 38px
            text-align center
    &__text
        margin-right 270px
        overflow hidden
        line-height 25px
        @media screen and (max-width:767px)
            margin 0
    &__head
        color #38718e
        font-size 22px
        font-weight 900
        letter-spacing 0.02em
        margin-bottom 36px
        line-height 1.2em
        @media screen and (max-width:767px)
            text-align center
    &__text
        text-align: justify
        p
            margin-bottom 24px