.tender
	display table
	width 100%
	&__left
		float right
		width 24%
		padding 80px 0 0 22px
		box-sizing border-box
		color #38718E
		font-weight bold
		line-height 35px
		@media screen and (max-width:1023px) 
			float none
			text-align center
			padding 80px 0 0px 0px
			width 100%
	&__right
		float left
		width 75.5%
		padding 79px 15px 0 0px
		box-sizing border-box
		font-weight: 500;
		@media screen and (max-width:1023px)
			width 100%
			padding 79px 0px 0 0px
	&__name
		margin 25px 0 16px
		font-size 20px
	&__date
		margin-bottom 34px
	&__slider
		padding-top 58px
		@media screen and (max-width:1023px) 
			width 100%
			max-width 420px
			margin 0 auto
	&__body
		background #2c6989
		height 5px
		position relative
		display block
	&__active
		background #b2c3a5
		display block
		height 5px
		position relative
		&:before
			display block
			position absolute
			content ''
			width 6px
			height 9px
			left -3px
			top -2px
			background #2c6989
	&__percent 
		position absolute
		top -34px
		margin-right -20px
		width 40px
		right 0
		text-align center
		font-size 14px
	&__right2
		padding 79px 60px 0 0
		font-size 16px
		line-height 25px
		@media screen and (max-width:1023px)
			padding 79px 30px 0 0
		@media screen and (max-width:1023px)
			padding 70px 20px 0 0
	&__pic
		width 33px
		height auto
		vertical-align middle
	&__bottom
		overflow hidden
	&__link
		float right
		display block
		color #38718E
		font-weight bold
		@media screen and (max-width:767px)
			margin-bottom 25px
			float none
		&:hover, &:focus
			.tender__span
				text-decoration none
	&__span
		display inline-block
		padding-right 10px
		vertical-align middle
		text-decoration underline
	&__bottom
		float left
		margin-left -23px
		@media screen and (max-width:1023px)
			margin-left 0
		@media screen and (max-width:767px)
			float none
			text-align center
	&__bottom3
		float left
		@media screen and (max-width:767px)
			float none
			text-align center 
	&__bottom2
		float left
		margin-top -45px
		@media screen and (max-width:767px)
			float none
			margin 40px 0 0
			text-align center
	&__text
		color #60713A
		font-weight bold
		float right
		padding-top 16px
		@media screen and (max-width:767px)
			text-align center
			float none
	&__input
		border 1px solid #38718e
		border-radius 3px
		width 182px
		text-align center
		height 33px
		line-height 31px
		box-sizing border-box
		color #4F515F
		margin-top 14px
		@media screen and (max-width:767px)
			margin 14px auto 0
	&__sign
		color #4F515F
		font-weight normal
		line-height 25px
		padding-top 66px
		@media screen and (max-width:1023px)
			display none