include ./_mixins

<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/parts/head.jade
	body
		include incl/parts/svg.jade
		main
			//- header
			include incl/blocks/header.jade
			+head_img('inner', 'about_pic.jpg')
			//- about
			include incl/blocks/about_about.jade
			//- team
			include incl/blocks/team.jade
			//- slider
			include incl/blocks/logo_slider.jade
			//- footer
			include incl/blocks/footer.jade
		
		include incl/parts/scripts.jade