include ./_mixins
<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/parts/head.jade
	body
		include incl/parts/svg.jade
		main
			//- header
			include incl/blocks/header.jade
			//- page-pic
			+head_img('inner', 'category_pic.jpg')
			//- category_menu
			include incl/blocks/category_menu.jade
			//- category_description
			include incl/blocks/category_description.jade
			//- category_slider
			include incl/blocks/category_slider.jade
			//- category_files
			include incl/blocks/category_files.jade
			//- footer
			include incl/blocks/footer.jade
		
		include incl/parts/scripts.jade