include ./_mixins
<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/parts/head.jade
	body
		include incl/parts/svg.jade
		main
			//- header
			include incl/blocks/header.jade
			//- page-pic
			+head_img('inner', 'contact_pic.jpg')
			//- category_description
			include incl/blocks/contact_address.jade
			//- contact_officials
			include incl/blocks/contact_officials.jade
			//- contact_form
			include incl/blocks/contact_form.jade
			//- footer
			include incl/blocks/footer.jade
		
		include incl/parts/scripts.jade