include ./_mixins

<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/parts/head.jade
	body
		include incl/parts/svg.jade
		main
			//- header
			include incl/blocks/header.jade
			+head_img('home', 'header.jpg')
			//- navigation
			include incl/blocks/main_navigation.jade
			//- about
			include incl/blocks/main_about.jade
			//- news
			include incl/blocks/main_news.jade
			//- slider
			include incl/blocks/logo_slider.jade
			//- footer
			include incl/blocks/footer.jade
		
		include incl/parts/scripts.jade