include ./_mixins

<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/parts/head.jade
	body
		include incl/parts/svg.jade
		main
			//- header
			include incl/blocks/header_new.jade
			+head_img('inner', 'about_pic.jpg')
			//- news
			include incl/blocks/calc_madaf.jade
			//- footer
			include incl/blocks/footer_new.jade
		
		include incl/parts/scripts.jade