include ./_mixins
<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/parts/head.jade
	body
		include incl/parts/svg.jade
		main
			//- header
			include incl/blocks/header.jade
			+head_img('inner', 'michraz_pic.jpg')
			//- michraz_menu
			include incl/blocks/michraz_menu.jade
			//- michraz_text
			include incl/blocks/michraz_text.jade
			//- michraz_files
			include incl/blocks/michraz_files.jade
			//- footer
			include incl/blocks/footer.jade
		
		include incl/parts/scripts.jade