include ./_mixins

<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/parts/head.jade
	body
		include incl/parts/svg.jade
		main
			//- header
			include incl/blocks/header.jade
			+head_img('inner', 'news-header.jpg')
			//- news
			include incl/blocks/inner_news.jade
			//- footer
			include incl/blocks/footer.jade
		
		include incl/parts/scripts.jade