include ./_mixins
<!DOCTYPE html>
html(lang="he" dir='rtl')
	head
		include incl/parts/head.jade
	body
		include incl/parts/svg.jade
		main
			//- header
			include incl/blocks/header_new.jade
			//- page-pic
			+head_img('inner', 'michraz_pic.jpg')
			//- michraz_table
			include incl/blocks/status_table.jade
			//- footer
			include incl/blocks/footer_new.jade
		
		include incl/parts/scripts.jade